<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.fish.catchreport">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fish_icon"
        android:label="Fish N&apos; Trips"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Fish N&apos; Trips"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddFishActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Menu" />
        <activity
            android:name=".TripInfoPage"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterUser"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplayTripInfo"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BaseDrawerActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskBiologist"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeeklyStats"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeeklyStatsInput"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LiveTripBegin"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LiveTripMain"
            android:label="@string/title_activity_live_trip_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LiveAddFishActivity"
            android:label="@string/title_activity_live_add_fish"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
